body {
    background-color: #f8f9fa;
    padding-top: 5px; 
}


.module {
    margin-bottom: 20px;
}

.module-header {
    background-color: lightgray;
    padding: 10px;
    font-weight: bold;
    cursor: pointer; 
    display: flex;
    align-items: center;
    
}

.module-header i {
    margin-right: 10px;
    transition: transform 0.2s; 
}

.module-content {
    background-color: #fff;
    border: 1px solid lightgray;
    border-top: none;
    padding-left: 20px; 
}

.module-section {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    position: relative; 
}

.module-item {
    padding: 10px;
    padding-left: 30px; 
    border-bottom: 1px solid lightgray;
    position: relative; 
}

.module-item:last-child {
    border-bottom: none;
}

.module-item i, .module-section i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.course-info + .course-info {
    margin-top: 20px;
}

@media (max-width: 991.98px) {
    .col-lg-4 {
        display: none; 
    }
}

@media (max-width: 767.98px) {
    .col-lg-8, .col-lg-4 {
        width: 100%;
        display: block;
        flex: 1
    }
}

@media (min-width: 992px) {
    .course-info-column {
        flex: 0 0 auto;
        width: 22%; 
    }
}

.course-info button {
    width: 100%; 
    margin-bottom: 10px; 
}

.btn-formal {
    background-color: #fff;
    color: #000; 
    border: 1px solid #ccc; 
}

a.text-danger {
    display: block; 
    margin-top: 10px; 
}

.half-width-btn {
    width: 48%; 
    margin-bottom: 10px; 
    margin-left: 2px;
    margin-right: 2px;
}

.course-info-second-col {
    margin-top: 10px;

}

.unpublish-btn {
    background-color: grey;
    border-color: grey;
    width:48%;
}

.publish-btn {
    background-color: #28a745; 
    border-color: #28a745; 
    width:48%;
}

.module-header .module-icons{
    margin-left: auto; 

}

.icons { 
    margin-left: 5px;
    margin-right: 5px;
}



.btn i + .btn-text {
    margin-left: 5px; 
}


#toggle-sidebar {
    border: none;
    background-color: transparent;
}

.text-grey {
    color: #6c757d;
}

.btn-light {
    color: #6c757d;
}

.header-padding {
    padding-top: 5px;
}