.wd-save-button {
    background-color: red;
    border-color: red;
    color: white;
}

.wd-rounded-corners-all-around {
    border-radius: 8px;
    margin: 2px;
}

.wd-cancel-savepub-button {
    text-decoration: none;
}

.wd-add-button {
    width: 100%;
    border: dashed;
    border-width: thin;
}

.wd-assign-to-container {
    border-color: buttonborder; 
    outline: 1px solid;
}

.wd-bottom-section {
    padding-right: 150px;
}

@media only screen and (max-width: 575px) {
    .wd-bottom-section {
        padding-right: 0;
    }
}

.wd-assign-edit-label {
    display: inline-block;
    text-align: right;
}

.wd-border-radius-8px {
    border-radius: 8px;
}

/* Inactive tab */
.nav-tabs .nav-link {
    color: red;
}

/* Active tab */
.nav-tabs .nav-link.active {
    color: black;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    padding: 1rem;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: 8px;
}

.ql-toolbar.ql-snow {
    border: none !important;
}