body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}
.accordion-button::after {
  transform: none !important;
  transition: none !important;
}

.breadcrumb-item {
  color: red;
}